# =====================
# Environment / secrets
# =====================
.env
.env.*
!.env.example

# =====================
# .NET
# =====================
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# =====================
# Visual Studio
# =====================
.vs/
.vscode/

# =====================
# Docker
# =====================
**/docker-data/
**/pgdata/

# =====================
# Node / Frontend
# =====================
node_modules/
dist/
build/

# =====================
# Logs
# =====================
*.log

# =====================
# OS
# =====================
.DS_Store
Thumbs.db
